<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">植物モニター</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="menu-links">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('main.list_logs') }}">📂 ログ</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('admin.admin') }}">🛠 管理</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('provisioning.provisioning') }}">📡 プロビジョニング</a></li>
            </ul>
            <form class="d-flex align-items-center">
                <label class="form-check-label text-white me-2" for="darkModeSwitch">🌙 ダークモード</label>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="darkModeSwitch">
                </div>
            </form>
        </div>
    </div>
</nav>